form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 97%;
}

form textarea {
    height: 50px;
    resize: vertical;
}