form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
    text-align: left;
}

form input,
form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 97%;
}

form textarea {
    height: 50px;
    resize: vertical;
}

#colorPlantilla {
    margin-bottom: 15px;

}

.color-picker-btn {
    position: absolute;
    top: 30px;
    left: 5px;
    font-size: 15px;
    color: var(--color-primario);
    cursor: pointer;
}

@media (max-width: 300px) {
    .GModulos2 {
        grid-template-columns: repeat(1, 1fr);
    }

    #Encargado,
    nav {
        display: none !important;
    }

    section {
        margin-top: 0px !important;
    }

    #exportarTodas,
    #openModalButton {
        display: none;
    }

    #tempo {
        display: none !important;
    }

    #TiposDiv {
        display: none !important;
    }

    .modal-content {
        margin: 0 !important;
        width: 92% !important;
        padding: 10px !important;
    }
}