body {
    font-family: 'Nunito', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#notas input[type="number"] {
    width: 158px; 
}

#Minima input[type="number"] {
    width: 334px;

}

#notas {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

#notas div {
    display: flex;
    gap: 10px;
}



#notaFinal {
    font-size: 20px;
    
}

#notaFaltante {
    font-size: 20px;
}

#Porcentajes {
    font-size: 20px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#texto{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

#Titulo{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 34px;
}

.select {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    outline: 0;
    background: transparent;
    color:#000000;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;
    font-size: 16px;
}

#Selects{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: left;
    margin: 10px;
    padding: 0;
}

table {
    border-collapse: collapse;
    font-size: small;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: 16.67%; /* Ajustado para 6 columnas */
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#botones {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: solid 2px #000000;
}

button:hover {
    background-color: #a3a3a3;
}


.file-select {
    position: relative;
    display: inline-block;
    width: 235px;
    height: 32px;
    content: "Seleccionar matriz";
    background-color:transparent;
    border-radius: 4px;
    border: 2px solid rgb(0, 0, 0);
  }

  .file-select:hover {
    background-color: #a3a3a3;
  }
  
  .file-select::before {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    border-radius: 4px;
    content: attr(data-file-name); /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    height: 32px;
    width: 235px;
    display: inline-block;
  }

  
button .botonReiniciar:hover {
    background-color: #FF0000;
}



#botones-container {
    display: flex;
    justify-content: center;
}

#botones {
    display: flex;
    justify-content: space-around;
}


#Table th:first-child, #Table td:first-child {
    white-space: nowrap;
}

#Table th, #Table td {
    width: 20px;
}

.table-container {
    overflow-x: auto;
    width: 100%; /* Esto hará que el contenedor de la tabla tenga el mismo ancho que su contenedor padre */
}

@media only screen and (max-width: 600px) {
    .table-container {
        overflow-x: scroll; /* Esto permitirá el desplazamiento horizontal en pantallas pequeñas */
    }
}

#Table th, #Table td{
    text-align: center;
}