body {
    font-family: 'Nunito', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 35px;
    text-decoration: none;
    font-size: small;
}



#notas input[type="number"] {
    width: 158px;
}

#Minima input[type="number"] {
    width: 334px;

}

#notas {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

#notas div {
    display: flex;
    gap: 10px;
}



#notaFinal {
    font-size: 20px;

}

#notaRelativa {
    font-size: 20px;
}

#notaFaltante {
    font-size: 20px;
}

#Porcentajes {
    font-size: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#texto {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

#Titulo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 34px;
}

.select {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    outline: 0;
    background: transparent;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;
    font-size: 16px;
}

#Selects {
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: left;
    margin: 10px;
    padding: 0;
}

table {
    border-collapse: collapse;
    font-size: small;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    width: 16.67%;
    /* Ajustado para 6 columnas */
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#botones {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: solid 2px #000000;
    font-family: 'Nunito', Arial, sans-serif;
}

button:hover {
    background-color: #a3a3a3;
}


.file-select {
    position: relative;
    display: inline-block;
    width: 235px;
    height: 32px;
    content: "Seleccionar matriz";
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid rgb(0, 0, 0);
}

.file-select:hover {
    background-color: #a3a3a3;
}

.file-select::before {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    border-radius: 4px;
    content: attr(data-file-name);
    /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.file-select input[type="file"] {
    opacity: 0;
    height: 32px;
    width: 235px;
    display: inline-block;
}


button .botonReiniciar:hover {
    background-color: #FF0000;
}



#botones-container {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', Arial, sans-serif;
}

#botones {
    display: flex;
    justify-content: space-around;
    font-family: 'Nunito', Arial, sans-serif;
}


#Table th:first-child,
#Table td:first-child {
    white-space: nowrap;
}

#Table th,
#Table td {
    width: 20px;
}

.table-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    flex-direction: row;
}



#Table th,
#Table td {
    text-align: center;
}

.titulos,

.titulos th {
    font-weight: bold;
    font-size: 15px;
    background-color: #012353;
    color: #fff;
    border-color: #f2f2f2;
}

.Turnos,
.Almuerzos,
.Calculos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.Informaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-right: 110px;
    margin-left: 42px;
}

.Almuerzos {
    width: 23%;
}

.Turnos table th,
.Informaciones table th,
.Almuerzos table th,
.Calculos table th,
#TablaSol table th,
#TablaSol2 table th {
    font-weight: bold;
    font-size: 15px;
    background-color: #012353;
    color: #fff;
    border-color: #f2f2f2;
    text-align: center;
}

.Turnos table th:first-child,
.Informaciones table th:first-child,
.Almuerzos table td:first-child,
.Almuerzos table th:first-child,
.Calculos table td:first-child,
.Calculos table th:first-child,
.Turnos table td:first-child,
.Informaciones table td:first-child {
    width: 1%;
    overflow-x: auto;
    text-align: center;
}


#miSelector {
    font-family: 'Nunito', Arial, sans-serif;
    outline: 0;
    background: transparent;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;
    font-size: 16px;
    width: 150px;
}

#BotonesHorario {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', Arial, sans-serif;

}

.gradient {
    background: linear-gradient(to right, red, orange);
    color: white;
}

#btnGuardar,
#btnImportar,
#btnLimpiar,
#btnEnviar,
#btnEnviar2 {
    padding: auto;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: solid 2px #000000;
    font-family: 'Nunito', Arial, sans-serif;

}

#btnLimpiar {
    background-color: #f0c8fa;
    /* Rojo suave */
}

#btnImportar {
    background-color: #f5cf97;
    /* Naranja suave */
}

#btnExportar {
    background-color: #b2dfdb;
    /* Verde más claro */
}

#btnGuardar {
    background-color: #90caf9;
    /* Azul más claro */
}

#btnExportarTexto {
    background-color: #fac8c8;
}

#btnGuardar:hover,
#btnExportar:hover,
#btnExportarTexto:hover,
#btnLimpiar:hover,
#btnImportar:hover,
#btnEnviar:hover #btnEnviar2:hover {
    background-color: #a3a3a3;
}

#pass {
    font-family: 'Nunito', Arial, sans-serif;
    outline: 0;
    background: transparent;
    color: #000000;
    border: 1px solid rgb(0, 0, 0);
    padding: 4px;
    font-size: 16px;
    height: 27px;
    align-self: center;
    border-radius: 5px;
    border: solid 2px #000000;
    width: 100px;
}

.Contenedor {
    display: flex;
    flex-direction: row;
    align-items: end;
    width: 100%;
}



#Informacion,
#InformacionVaca {
    display: flex;
    flex-direction: row;
    align-self: start;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

#TablaSol,
#TablaSol2 {
    width: 100%;
    table-layout: fixed;
}

#TablaSol th,
#TablaSol2 th {
    width: auto;
}

#Solicitante,
#Receptor,
#SolExportar {
    font-family: 'Nunito', Arial, sans-serif;
}

#Solicitudes {
    text-align: center;
    height: fit-content;
    width: 100%;
}



.Form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;

}

#NuevaSolicitud {
    width: 300px;
    margin: 0 auto;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form input[type="submit"] {
    align-self: center;
}

.Divs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Seccion2 {
    padding-top: 10px;
}

#btnIntercambioTurno {
    margin-top: 10px;
}

#btnIntercambioTurno {
    margin-bottom: 15px;
}

#btnEnviar,
#btnEnviar2 {
    padding: 10px;
    width: 38px;
}

#TablaSol,
#TablaSol2 {
    width: 100%;
    /* Ajusta esto según tus necesidades */
    max-height: 400px;
    overflow: auto;
    /* Habilita el desplazamiento tanto en x como en y */
}

#Table2 {
    display: block;
    table-layout: fixed;
    width: 100%;
}

#Table2 thead th {
    position: sticky;
    top: 0;
    border-color: #000000;
}

#Table2 th,
#Table2 td {
    text-align: center;
    width: 1000px;
    word-wrap: break-word;
}

#btnEnviar:disabled,
#btnEnviar2:disabled {
    background-color: #a3a3a3;
    cursor: not-allowed;
}

.btnRechazar,
.btnAprobar {
    width: 100%;
    border: 1px solid #000000;
}

.btnAprobar {
    background-color: #afed87;
}

.btnRechazar {
    background-color: #fc818d;
    margin-top: 7px;
}

.btnAprobar:hover {
    background-color: #a2ff64;
}

.btnRechazar:hover {
    background-color: #fa5c6c;
    margin-top: 7px;
}

.Marca {
    width: 100%;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 17s linear infinite;
}

.Marca p {
    margin: 0;
    margin-top: 3px;
    height: 30px;
}

@keyframes marquee {
    0% {
        text-indent: 100%
    }

    100% {
        text-indent: -100%
    }
}


/* Global styles */
body {
    font-family: 'Nunito', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0%;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    /* Adjusted padding for consistency */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: white;
    text-align: center;
    padding: 10px;
    /* Reduced redundancy */
    text-decoration: none;
    font-weight: bold;
    /* Moved from `.botonesNav` for consistency */
}

nav a:hover {
    background-color: #ddd;
    color: #333;
}

/* Buttons styles */
.botonesNav {
    display: flex;
    /* Retained from original code */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.botonesNav li {
    display: inline;
    /* Retained from original code */
    margin-right: 0px;
    /* Retained from original code */
}

.titulo {
    font-size: 20px;
}

label {
    display: inline-block;
    width: 50px;
    text-align: right;
    margin-right: px;
}

.custom-select {
    font-family: 'Nunito', Arial, sans-serif;
    width: auto;
}

#Mes option,
#Año option {
    padding: 5px 10px;
}

#Mes.custom-select,
#Año.custom-select {
    margin-bottom: 10px;
}

/* Media queries */




@media (max-width: 968px) {
    nav {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .titulo {
        font-size: 15px;
    }

    .botonesNav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5px;
        gap: 5px;
    }

    nav ul.botonesNav li a {
        font-size: 15px;
        /* Aumenta el tamaño del texto para dispositivos móviles */
    }

    nav ul.botonesNav li a:hover {
        background-color: transparent;
        color: white;
    }

}

@media only screen and (max-width: 100x) {
    .TablaDescansos {
        padding: 0px;
        padding-bottom: 17px;
    }
}

@media only screen and (max-width: 810px) {
    .vertical-bar {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .table-container {
        overflow-x: scroll;
    }

    #Informacion {
        width: 100%;
        overflow-x: scroll;
    }

    .TablaDescansos {
        padding: 0px;
        padding-bottom: 0px;
        /* Retained from original code */
    }

    #InformacionVaca {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        overflow-x: scroll;
    }

    .Calculos {

        display: table;
        width: 100%;
    }
}

#Descansos th,
#Descansos td {
    text-align: center;
}

#banner {
    background: #ffd700;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: cambiarColor 1s ease infinite;
}

@keyframes cambiarColor {
    0% {
        background: #ffd700;
    }

    50% {
        background: #ff6347;
    }

    100% {
        background: #ffd700;
    }
}

.aparecer {
    animation: aparecerAnimacion 0.5s ease-in-out;
}

.Calculos {
    width: 60%;
}

.tablas {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#TablaCalculos,
#TiposDias {
    table-layout: fixed;
    display: block;
    text-align: center;
    /* Añadido para centrar el texto */
}

#TiposDias {
    width: 10%;
    align-self: flex-end;
    text-align: center;
    /* Añadido para centrar el texto */
}

#TablaCalculos th,
#TablaCalculos td {
    text-align: center;
    align-items: center;
}

#TiposDias th,
#TiposDias td {
    text-align: center;
}

#TiposDias th {
    padding: 6.5px;
}


#TablaCalculos th:first-child,
#TablaCalculos td:first-child {
    min-width: 170px;
}

#BotonesHorario {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.vertical-bar {
    height: 42px;
    border-left: solid 2px #000000;
}

#Izq,
#Der {
    height: 30x;
    width: 30px;
    padding: 3px;
    background-color: transparent;
    font-weight: bold;
}

#Izq:hover,
#Der:hover {
    background-color: #a3a3a3;
}

table tbody tr td:first-child {
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
    z-index: 1;
}

table tbody tr th:first-child {
    position: sticky;
    left: 0;
    background-color: #012353;
    z-index: 1;
}


#titulos,
#Dias,
#Descansos th {
    border-bottom: 1px solid white;
}